<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stu.spring_stu.mapper.ElectclassMapper">
    <update id="updategrade">
        update electclass set cj = #{cj} where stu_id = #{stuId} and cou_id = #{couId} and tea_id = #{teaId}
    </update>
    <select id="delcourse" resultType="Boolean">
        delete from electclass where stu_id = #{stuId} and cou_id = #{couId} and tea_id = #{teaId}
    </select>
    <select id="selectcourse">
        insert into electclass(stu_id,cou_id,tea_id,xq,time) values(#{stuId},
                                                                       #{couId},
                                                                       #{teaId},
                                                                       (select xq from openclass
                                                                           where cou_id = #{couId}
                                                                           and tea_id = #{teaId}),
                                                                       (select time from openclass
                                                                        where cou_id = #{couId}
                                                                          and tea_id = #{teaId})
                                                                       )
    </select>
    <select id="findPage" resultType="com.stu.spring_stu.entity.Electclass">
        select electclass.*,student.name as name,course.cname as cname,teacher.tname as tname, openclass.xq as xq, openclass.time as time  from electclass
        left join student
        on student.stu_id = electclass.stu_id
        left join course
        on course.cou_id = electclass.cou_id
        left join openclass
        on openclass.cou_id = electclass.cou_id
        left join teacher
        on electclass.tea_id = teacher.tea_id
        <where>
            electclass.stu_id like concat('%',#{stuId},'%')
            and electclass.cou_id like concat('%',#{couId},'%')
            and electclass.tea_id like concat('%',#{teaId},'%')
<!--            <if test="xq != null and xq != ''">-->
<!--                and xq = #{xq}-->
<!--            </if>-->
        </where>
    </select>
</mapper>
