<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stu.spring_stu.mapper.ElectclassMapper">
    <select id="delcourse">
        delete from electclass where stu_id = #{stuId} and cou_id = #{couId} and tea_id = #{teaId}
    </select>
    <select id="selectcourse">
        insert into electclass(stu_id,cou_id,tea_id,xq,time) values(#{stuId},
                                                                       #{couId},
                                                                       #{teaId},
                                                                       (select xq from openclass
                                                                           where cou_id = #{couId}
                                                                           and tea_id = #{teaId}),
                                                                       (select time from openclass
                                                                        where cou_id = #{couId}
                                                                          and tea_id = #{teaId})
                                                                       )
    </select>
</mapper>
