<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stu.spring_stu.mapper.ElectclassMapper">
    <update id="updategrade">
        update electclass set cj = #{cj} where stu_id = #{stuId} and cou_id = #{couId} and tea_id = #{teaId}
    </update>
    <select id="delcourse" resultType="Boolean">
        delete from electclass where stu_id = #{stuId} and cou_id = #{couId} and tea_id = #{teaId}
    </select>
    <select id="selectcourse">
        insert into electclass(stu_id,cou_id,tea_id) values(#{stuId},
                                                                    #{couId},
                                                                    #{teaId}
            )
    </select>
    <select id="findPage" resultType="com.stu.spring_stu.entity.Electclass">
        select electclass.*,student.name as name,course.cname as cname,teacher.tname as tname, openclass.xq as xq, openclass.time as time  from electclass
        left join student
        on student.stu_id = electclass.stu_id
        left join course
        on course.cou_id = electclass.cou_id
        left join openclass
        on openclass.cou_id = electclass.cou_id and openclass.tea_id = electclass.tea_id
        left join teacher
        on electclass.tea_id = teacher.tea_id
        <where>
            electclass.stu_id like concat('%',#{stuId},'%')
            and electclass.cou_id like concat('%',#{couId},'%')
            and course.cname like concat('%',#{cname},'%')
            and electclass.tea_id like concat('%',#{teaId},'%')
            and teacher.tname like concat('%',#{tname},'%')
            and openclass.xq like concat('%',#{xq},'%')
<!--            <if test="xq != null and xq != ''">-->
<!--                and xq = #{xq}-->
<!--            </if>-->
        </where>
    </select>
    <select id="selectcoursebytime" resultType="com.stu.spring_stu.entity.Electclass">
        SELECT * FROM
        (SELECT stu_id,electclass.cou_id,electclass.tea_id,xq,time from electclass,openclass WHERE electclass.cou_id = openclass.cou_id AND electclass.tea_id = openclass.tea_id)
        as temp WHERE stu_id = #{stuId} AND
                            xq = #{xq} AND
                        time = #{time};
    </select>
    <select id="findGrades" resultType="com.stu.spring_stu.entity.Electclass">
        select electclass.*,student.name as name,course.cname as cname,teacher.tname as tname, openclass.xq as xq, openclass.time as time  from electclass
        left join student
        on student.stu_id = electclass.stu_id
        left join course
        on course.cou_id = electclass.cou_id
        left join openclass
        on openclass.cou_id = electclass.cou_id and openclass.tea_id = electclass.tea_id
        left join teacher
        on electclass.tea_id = teacher.tea_id
        <where>
            electclass.stu_id like concat('%',#{stuId},'%')
            and electclass.cou_id like concat('%',#{couId},'%')
            and electclass.tea_id like concat('%',#{teaId},'%')
            and openclass.xq like concat('%',#{xq},'%')
            and cj is not null
            <!--            <if test="xq != null and xq != ''">-->
            <!--                and xq = #{xq}-->
            <!--            </if>-->
        </where>
    </select>
    <select id="findNumofStu" resultType="java.lang.Integer">
        select count(stu_id) from electclass where tea_id = #{teaId} and cou_id = #{couId}
    </select>
    <select id="findNumofGrade" resultType="java.lang.Integer">
        select count(stu_id) from electclass where tea_id = #{teaId} and cou_id = #{couId} and cj is not null
    </select>
    <select id="findNumofGood" resultType="java.lang.Integer">
        select count(stu_id) from electclass where tea_id = #{teaId} and cou_id = #{couId} and cj >=60
    </select>
    <select id="findNumofGreat" resultType="java.lang.Integer">
        select count(stu_id) from electclass where tea_id = #{teaId} and cou_id = #{couId} and cj >=90
    </select>
</mapper>
